.sq-white{
  height: 8vh;
  width: 4vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sq-black{
  height: 8vh;
  width: 4vw;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}